:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: black;
  color: white;
  font-family: monospace;
}

input {
  font-family: inherit;
}

@font-face {
  font-family: "FontAwesomeSolid";
  src: url("/static/fontawesome-free-6.6.0-web/webfonts/fa-solid-900.woff2") format("woff2");
}

.icon-home,
.icon-users,
.icon-left,
.icon-right,
.icon-left-right {
  font-family: "FontAwesomeSolid";
}

.icon-home::before {
  content: "\f015";
}

.icon-users::before {
  content: "\f0c0";
}

.icon-left::before {
  content: "\f30a";
}

.icon-right::before {
  content: "\f30b";
}

.icon-left-right::before {
  content: "\f337";
}
