:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: black;
  color: white;
  font-family: monospace;
}

input {
  font-family: inherit;
}

a:link {
  color: lightskyblue;
}

a:visited {
  color: mediumpurple;
}

@font-face {
  font-family: "FontAwesomeSolid";
  src: url("/static/vendored/fontawesome-free-6.6.0-web/webfonts/fa-solid-900.woff2")
    format("woff2");
}

.icon-users {
  font-family: "FontAwesomeSolid";
}

.icon-users::before {
  content: "\f0c0";
}

#source-footer {
  text-align: right;
}
