<!DOCTYPE html>
<%
{websocket_path, state_url} =
  {"/room/#{room_id}/websocket", "/room/#{room_id}/state.json"}
%>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>room | mediasync</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/video.js/video-js.min.css">
    <style>
        body {
            margin: 0;
        }

        div#outerContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100svh;
            width: 100svw;
        }

        div#playerContainer {
            /* Default values; JS will adjust depending on actual aspect ratio */
            height: 100svh;
            width: 100svw;
            /* We should be in the (horizontal) center by default */
            margin: 0 auto;
        }

        div#playerContainer:has(#snap-button.icon-right) {
            /* We should be on the left */
            margin-left: 0;
        }

        div#playerContainer:has(#snap-button.icon-left-right) {
            /* We should be on the right */
            margin-left: auto;
            margin-right: 0;
        }

        #state-button-active::after {
            content: attr(data-text);
            white-space: pre-wrap;
            font-family: monospace;
            text-align: left;
            text-shadow: black 1px 1px;
            position: fixed;
            left: 0;
            top: 0;
        }
    </style>
    <!-- Will be modified by JS -->
    <style id="extra-styles"></style>
</head>

<body>
    <div id="outerContainer">
        <div id="playerContainer">
            <video-js id="player">
                <source src="<%= Plug.HTML.html_escape(video_info.url) %>"
                    type="<%= Plug.HTML.html_escape(video_info.content_type) %>">
            </video-js>
        </div>
    </div>
    <script src="/static/video.js/video.min.js"></script>
    <script>
        const WEBSOCKET_URL = location.origin.replace(/^http/, "ws") + "<%= websocket_path %>";
        const STATE_ELEMENT_INITIAL_TEXT = "loading...";
        const STATE_URL = "<%= state_url %>";
    </script>
    <script src="/static/room/main.js"></script>
    <script src="/static/room/displayState.js"></script>
</body>

</html>
